{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Confirm User Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" style="margin: 1em">
        </div>
        <div>
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit" style="margin: 1em">Change</button>
    </form>
{% endblock %}