{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <section>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" name="password" placeholder="Password" type="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
            <div>
                <a class="btn btn-primary" href="/change_password" style="margin: 1em">Change Password</a>
            </div>
        </form>
    </section>
{% endblock %}